@import "color";
header{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    #activeM{
        font-size: 16px !important;
        background-color: rgb(194, 194, 194);
        padding: 20px 15%;
    }
    #activeIM{
        transform: scale(1)!important;
    }
    .menu{
        font-size: 18px;
        display: flex;
        justify-content: space-between;
        padding: 30px 10%;
        position: fixed;
        z-index: 999;
        top: 0;
        right: 50%;
        transform: translateX(50%);
        width: 100%;
        transition: 0.5s;

        #logo{
            width: 10%;
        
        #logo-a{
            height: 100%;
            width: 100%;
            img{
                height: 100%;
                width: 100%;
                transform: scale(1.5);
                transition: 0.5s;
            }
        }
    }
        .menu-item{
            display: flex;
            li{
                margin: 0 15px;
                text-transform: capitalize;
                font-weight: 500;
            }
        }
    }
    #img-header{
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        transform:translateY(-10px);
    }
    #titulo{
        flex: 0 1 35%;
        margin-left: 100px;
        display: flex;
        flex-direction: column;
        img{
            width: 90%;
            height: 50%;
        }
        h2{
            text-transform: capitalize;
            font-size: 40px;
            padding-left: 10px;
            margin: 10px 0;
        }
        a{
            border: 2px black solid;
            padding: 10px;
            text-transform: capitalize;
            font-size: 25px;
            border-radius: 10px;
            margin: 0 auto;
            font-weight: $btn-w;
            transition: 0.5s;
            &:hover{
                color: white;
                background-color: $col-prim;
                border-color: $col-prim;
                
            }
        }
    }
}
